body{
  width:100vw;
  overflow-x: hidden;
}

.navbar{
  position: fixed;
  top:0;
  width: 100vw;
  z-index:99;
}
.login-container {
    margin-top: 50px;
  }
  
  .image-column {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-column {
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .inpField {
    width: 100%;
  }
  
  .btnSubmit {
    width: 100%;
  }
  
  .btn-forgot-password,
  .btn-create-account {
    text-decoration: none;
    color: #007bff;
  }

  .nav-link{
    color:white;
    margin:15px;
  }
  .navbar-toggler-icon{
    background-color:white;
  }
  .nav-link:hover {
    color: #e8e8e8;
    font-weight: 600;
    background-color: transparent;
    text-decoration: underline;
    text-underline-offset: 0.375em!important;
  }

.navbar-nav .nav-item .nav-link.active {
  color:#e8dd0b;
  font-weight: bold;
}


  .hero-section {
    background-color: #343a40;
    padding: 100px 0;
  }
  
  .hero-title {
    font-size: 3.5rem;
    margin-bottom: 50px;
    text-align: center;
    color:#e8dd0b;
  }
  
  .hero-description {
    font-size: 1.2rem;
    margin-bottom: 50px;
    color:whitesmoke;
    text-align: center;
  }
  
  .hero-btn {
    background-color: #007bff;
    border: none;
  }
  
  .hero-btn:hover {
    background-color: #0056b3;
  }
  
  .testimonials-container {
    margin-top:100px;
    margin-bottom: 100px;
  }
  
  .section-title {
    text-align: center;
    margin-bottom: 40px;
    color:#e8dd0b;
  }
  
  .testimonial-card {
    text-align: center;
    background-color: #f8f9fa;
    border: none;
    border-radius: 10px;
    padding: 20px;
    height:50vh;
    margin-left: 10px;
    width: auto;
  }
  
  .testimonial-feedback {
    font-size: 0.8rem;
    text-align:start;
  }
  
  .testimonial-name {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .border-1 {
    border: 5px solid #007bff; /* Blue border */
    box-shadow: 10px 0 0 #007bff;
  }
  
  .border-2 {
    border: 5px solid #28a745;
    box-shadow: 10px 0 0 #28a745;
  }
  
  .border-3 {
    border: 5px solid #dc3545; /* Red border */
    box-shadow: 10px 0 0 #dc3545;
  }
  
  .border-4 {
    border: 5px solid #ffc107; /* Yellow border */
    box-shadow: 10px 0 0 #ffc107;
  }

  .quiz-categories-container {
    padding: 70px;
    background-color: #343a40;
    width: 100vw;
  }
  
  .section-title {
    text-align: center;
    margin-bottom: 70px;
  }

  .section{
    background-color:#314254;
  }
  
  .quiz-category-card {
    margin-bottom: 20px;
    height: 70vh;
    background-color: whitesmoke;
    cursor: pointer;
    margin-left: 40px;
  }
  .quiz-category-card img{
    width: 100%;
    height: 50%;
  }

  .quiz-category-card:hover {
    border: 3px solid #e8dd0b;
  }
  
  .quiz-category-card .card-body {
    text-align: center;
  }
  
  .quiz-category-card .btn {
    margin-top: 10px;
  }

  .quiz-title{
    font-size: 2rem;
    color:#e8dd0b;
    margin-bottom: 20px;
    font-weight: bolder;
  }

  .quiz-desc{
    font-size: 1rem;
    color:white;
  }

  .play-btn{
      border:1px solid  #ffc107;
      background-color: white;
      font-size: 1rem;
      color: #ffc107;
      font-weight: bold;
  }

  .play-btn:hover{
      color:white;
      background-color: #e8dd0b;
  }

  .faq-heading {
    font-size: 2.5rem;
    margin: 0;
    color:#e8dd0b;
  }
  .accordion-item{
    border: none;
    border-bottom: 1px solid #ddd;
  }
  .accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: transparent!important;
    box-shadow: 0px 1px 5px #cacaca!important;
  }
  
  .accordion-button:focus {
   box-shadow: none!important;
  }
  
  ul {
    margin: 0px;
    list-style: none;
    padding-left: 0px;
  }
  footer.footer-section ul {
    padding-left: 0px;
  }
  .footer-section {
  background-color: #343a40;
  position: relative;
  }
  .footer-cta {
  border-bottom: 1px solid #373636;
  }
  .single-cta i {
  color: #e8dd0b;
  font-size: 30px;
  float: left;
  margin-top: 8px;
  }
  .cta-text {
  padding-left: 15px;
  display: inline-block;
  }
  .cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  }
  .cta-text span {
  color: #757575;
  font-size: 15px;
  }
  .footer-content {
  position: relative;
  z-index: 2;
  }
  .footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
  }
  .footer-logo {
  margin-bottom: 30px;
  }
  .footer-logo img {
    max-width: 200px;
  }
  .footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
  }
  .footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  }
  .footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
  }
  .footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  }
  .facebook-bg{
  background: #3B5998;
  }
  .twitter-bg{
  background: #55ACEE;
  }
  .google-bg{
  background: #DD4B39;
  }
  .footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  }
  footer .single-cta {
    display: flex;
    justify-content: center;
  }
  .footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #e8dd0b;
  }
  .footer-widget ul li {
  margin-bottom: 12px;
  }
  .footer-widget ul li a:hover{
  color: #e8dd0b;
  }
  .footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
  text-decoration: none;
  }
  .subscribe-form {
  position: relative;
  overflow: hidden;
  }
  .subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
  }
  .subscribe-form button {
    position: absolute;
    right: 0;
    background: #e8dd0b;
    padding: 13px 20px;
    border: 1px solid #e8dd0b;
    top: 0;
  }
  .subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
  }
  .copyright-area{
  background: #202020;
  padding: 25px 0;
  }
  .copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
  }
  .copyright-text p a{
  color: #e8dd0b;
  }
  .footer-menu li {
  display: inline-block;
  margin-left: 20px;
  
  }
  .footer-menu li:hover a{
  color: #e8dd0b;
  }
  .footer-menu li a {
  font-size: 14px;
  color: #878787;
  text-decoration: none;
  }
  .footer-content .row{
    align-items: normal;
  }

.language-section {
  margin-bottom: 50px;
}

.video-card {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 70vh;
}


.video-card:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 10px #e8dd0b;
}


.video-card img {
  width: 100%;
  height: auto;
  display: block;
}

.leaderboard-container {
  margin-top: 100px;
}

.quiz-container{
  background: white;
  width: 90%;
  max-width: 60vw;
  margin: 10px auto 0;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 1px 1px 15px #cacaca;
}

.question-section {
  margin-bottom: 20px;
}

.question-count {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

.question-text {
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: 600;
}

.option-section {
  display: flex;
  flex-direction: column;
  width:40vw;
}

.option-btn {
  background: white;
  color: #222;
  font-weight: 500;
  width: 100%;
  border:none;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 1px 1px 5px #ffc107;
}

.option-btn.selected {
  background-color: #e8dd0b;
  color: #fff;
}

.next-btn {
  background: #e8dd0b;
  color: white;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
}

.next-btn:hover {
  background-color: #ffc107;
}

.container{
  margin-top: 100px;
}







  
  
  
  
  
  
  
  